<nav>

  <div class="item-esquerda">
    <div class="logo">
      <i class='bx bxs-castle' ></i>
      Defensium
    </div>
  </div>

  <div class="item-centro">
    <div class="menu">
      <a class="active">Principal</a>
      <a>Credenciais</a>
      <a>Configurações</a>
    </div>
  </div>

  <div class="item-direita">
    <div class="icones">
      <div class="pesquisa"></div>
      <div class="notificacao"></div>
    </div>
    <div class="user">
      <div class="imagem">
        <img src="/imagem/profile.png" alt="Usuário"/>
      </div>
      <div class="informacao">
        <p>José Quintinno</p>
        <b>Administrador</b>
      </div>
      <div class="icone-abrir">
        <i class='bx bx-chevron-down' ></i>
      </div>
    </div>
  </div>

</nav>
