<section id="area-texto">

  <div class="decricao">
    <p>Credenciais</p>
  </div>

  <div class="botoes">
    <button (click)="apresentarModal()">Adicionar Credencial</button>
  </div>

</section>

<!-- backdrop -->
<div *ngIf="isApresentarModal" class="backdrop"></div>

<!-- modal -->
<section *ngIf="isApresentarModal" id="modal-cadastrar-credencial">
  <div class="modal">
    <div class="modal-header">
      <p>Cadastrar Nova Credencial</p>
    </div>

    <form id="formulario" autocomplete="off" [formGroup]="credencialFormGroup" (ngSubmit)="cadastrarCredencial()">
      <div class="modal-content">
        <!-- <ng-content></ng-content> -->

        <div class="row">

          <div class="form-input">
            <label>Nome do Sistema <sup></sup></label>
            <input type="text" formControlName="pessoaCodigo" placeholder="Informe o Nome do Sistema" />
          </div>

          <div class="form-input">
            <label>Descrição <sup></sup></label>
            <input type="text" formControlName="descricao" placeholder="Informe uma Descrição" />
          </div>

        </div>

        <div class="row">

          <div class="form-input">
            <label>Identificador <sup></sup></label>
            <input type="text" formControlName="identificador" placeholder="Nome de Usuário, E-mail ou Telefone" />
          </div>

          <div class="form-input">
            <label>Senha <sup></sup></label>
            <input type="password" formControlName="senha" placeholder="* * * * * * * * * *" />
          </div>

        </div>

        <div class="row">

          <div class="form-input">
            <label>Link <sup></sup></label>
            <input type="text" formControlName="link" placeholder="http://www..." />
          </div>

        </div>

        <div class="row">

          <div class="form-input">
            <label>Observação <sup></sup></label>
            <textarea maxlength="255" formControlName="observacao"></textarea>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <div class="button">
          <button type="submit">Cadastrar</button>
          <button (click)="fecharModal()">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</section>
