@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins.ttf");
}

@font-face {
  font-family: "Michroma";
  src: url("/fonts/Michroma.ttf");
}

@import "boxicons/css/boxicons.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.coluna10 {
  flex: 10;
}

.coluna20 {
  flex: 20;
}

.coluna50 {
  flex: 50;
}

.coluna80 {
  flex: 80;
}

.coluna90 {
  flex: 90;
}
